<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGcCl8CBbIA4UXjWeJv9WEvLURQNQKnFg</string>
	<key>GCM_SENDER_ID</key>
	<string>908543006290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uiChallenges</string>
	<key>PROJECT_ID</key>
	<string>movie-app-e2ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-e2ddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908543006290:ios:50ce16bad062d2ab03318b</string>
</dict>
</plist>